/***************** 
general 
*****************/

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}

/* settings body */
body {

    background-color: var(--color-darkgrey);
    font-family: "Montserrat", serif;
    color: var(--color-light);
}

/* button utilities */
.button {
    display: block;
    text-decoration: none;
    width: 140px;
    height: 30px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid var(--color-light);
    text-align: center;
    line-height: 2.5;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-light);
    padding: 5px;

}

.button:hover {
    color: var(--color-light);
    opacity: 0.5;
}

/* Flex Utility */
.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.f-wrap {
    flex-wrap: wrap;
}


.wrapper {
    background-color: var(--color-dark);
    height: 100vh;
}

ul {
    list-style: none;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    display: block;
}

a:hover {
    color: var(--color-light);
}

ul li a {
    padding: 0 20px;
}


img {
    width: 100%;
    max-width: 100%;
    display: block;
}

section {
    margin-top: 20px;
}

h2 {
    padding-bottom: 10px;
}

.row {
    padding-top: 10px;
}



.upper-content {
    background-color: var (--color-dark);
    flex: 1 1 auto;
    overflow-y: auto;
}

footer {
    background-color: var(--color-darkgrey);
    flex: 0 0 100px;
}

#sidebar {
    flex: 0 0 210px;
    background-color: var(--color-black);

}

main {
    flex: 1 1 auto;
    overflow-y: auto;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 100000;
    padding: 20px;
    align-content: center;
    justify-content: flex-end;
}




.main-content .col {
    width: calc(100% / 6);
    padding: 5px;
}

.card {
    cursor: pointer;
}

.card-image {
    position: relative;

}



.card-text {
    text-align: center;
    padding: 10px 0;
}

small {
    color: var(--color-lightgrey);
}

section>small {
    padding-bottom: 15px;
    display: block;
}