/***************** 
general (Desktop first)
*****************/

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .debug {
    border: 1px solid red;
} */

/* custom properties */
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}

/* settings body */
body {

    background-color: var(--color-darkgrey);
    font-family: "Montserrat", serif;
    color: var(--color-light);
}

a:hover {
    color: var(--color-light);
}

ul {
    list-style: none;
    margin-top: 20px;
}

ul li a {
    padding: 0 15px;
    transition: transform 0.5s ease;
}

ul li a:hover {
    transform: scale(1.1);
}

/* button utilities */
.button {
    display: block;
    text-decoration: none;
    width: 150px;
    height: 36px;
    border-radius: 20px;
    background-color: var(--color-darkgrey);
    opacity: 0.8;
    text-align: center;
    line-height: 3;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-light);
    padding: 5px;
    transition: transform 0.5s ease, background-color 0.3s ease;
}

.button:hover {
    color: var(--color-light);
    background-color: #888;
    transform: scale(1.1);
}

/* custom scrollbar setting */
.scrollbar-style::-webkit-scrollbar {
    width: 10px;
}

.scrollbar-style::-webkit-scrollbar-track {
    background: var(--color-black);
}

.scrollbar-style::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 2px solid var(--color-black);
}

.scrollbar-style::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}


/* Flex Utility */
.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.f-wrap {
    flex-wrap: wrap;
}

.spacebetween {
    justify-content: space-between;
}

/* Page settings */

/* Settings per mobile */

.only-mobile {
    display: none;
}

.wrapper {
    background-color: var(--color-dark);
    height: 100vh;
}

/* Upper content settings */

.upper-content {
    background-color: var(--color-dark);
    flex: 1 1 auto;
    overflow-y: auto;
}

/* sidebar settings */

#sidebar {
    flex: 0 0 230px;
    background-color: var(--color-black);
    min-height: 400px;
    overflow: hidden;
}

#sidebar h3 {
    text-transform: uppercase;
    color: grey;
    margin: 0px 25px;
    font-size: 14px;
    color: var(--color-light);
    margin-top: 10px;

}

/* settings sidebar-top */

.sidebar-top {
    height: calc(100% - 90px);
}

#sidebar .sidebar-top a {
    text-decoration: none;
    color: grey;
    margin-bottom: 10px;
    margin-top: 10px;
}

#sidebar a:hover {
    color: var(--color-light);
    line-height: 1.5;
}

#sidebar .playlist-nav a:hover {
    line-height: 2;
}



#sidebar i {
    font-size: 14px;
    margin-bottom: 10px;
    padding-right: 5px;

}

#sidebar .main-nav img {
    height: 25px;
    width: auto;
    display: inline;
}

#sidebar ul {
    padding: 0px 25px;
    color: grey;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
}

/* sidebar-top main nav settings */

.main-nav {
    margin-top: 10px;
}


.logo-spotify,
.main-nav a,
.playlist-nav a {
    display: block;
    margin-top: 10px;
}

.playlist-nav {
    flex: 1 1 auto;
    min-height: 0;
}

.playlist-nav ul {
    flex: 1 1 auto;
    overflow-y: auto;
}

.main-nav a {
    display: flex;
    align-items: center;
}

.main-nav a img {
    margin-right: 10px;
}

.main-nav a span {
    vertical-align: middle;
}

#sidebar .main-nav a {
    border-left: 2px solid transparent;
}

#sidebar .main-nav a:hover {
    border-left: 2px solid var(--color-highlight);
}

.add-playlist i {
    margin: 5px 0px 0 25px;

}

.add-playlist {
    font-size: 14px;
    font-weight: 600;
}


.logo-spotify img {
    width: 70%;
    max-width: 100%;
    margin: 0 25px;
}


/* .sidebar-bottom settings */

.sidebar-bottom {
    height: 90px;
    background-color: var(--color-black);
}

.sidebar-bottom a {
    color: grey;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;

}

.sidebar-bottom a:hover {
    line-height: 1;
}

.sidebar-bottom img {
    height: 20px;
    width: auto;
    display: inline;
}

.install,
.user-profile {
    padding-left: 10px;
    font-size: 12px;
    font-weight: 600;
}

.user-profile {
    margin-left: 3px;
}

hr {
    width: 90%;
    height: 1px;
}


.sidebar-bottom a img {
    margin-right: 10px;
}

.main-nav a span {
    vertical-align: middle;
}

/* Header settings  */
.header {
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 100000;
    padding: 20px;
    justify-content: flex-end;
}

/* Main-content settings */


/* Settings Navbar */

nav a {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    display: block;
}


main nav a:after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    margin: 0 auto;

}

main nav a:hover::after {
    background-color: var(--color-highlight);
}

/* Card content */

img {
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;

}

section {
    margin-top: 20px;
    padding: 10px 20px;
}

h2 {
    padding-bottom: 10px;
}

.row {
    padding-top: 10px;
}

main {
    flex: 1 1 auto;
    overflow-y: auto;

}



.main-content .col {
    width: calc(100% / 6);
    padding: 5px;
}

.card {
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    position: relative;
    text-align: left;
    color: white;
    margin: 15px;

}


.card-image {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.card-image img {
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}


.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: var(--color-highlight);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.play-icon i {
    color: white;
    font-size: 24px;
}


.card-text {
    padding: 10px;
    text-align: center;
}

.card-text h3 {
    margin: 5px 0;
    font-size: 16px;
}

.card h3:nth-child(2) {
    text-overflow: ellipsis;
}

.card-text small {
    color: #b3b3b3;
}


.card:hover {
    background-color: var(--color-darkgrey);
    transform: scale(1.05);
}


.card:hover .card-image img {
    transform: scale(1.1);
    opacity: 0.5;
}


.card:hover .play-icon {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 1px 2px 6px var(--color-darkgrey);
}

.radius-img img {
    border-radius: 100%;
}

small {
    color: var(--color-lightgrey);
}

section>small {
    padding-bottom: 15px;
    display: block;
}

/* footer settings */

footer {
    background-color: var(--color-darkgrey);
    flex: 0 0 100px;
    color: grey;
    overflow: hidden;
}


footer i {
    color: grey;
    margin: 10px 10px;
}

footer a {
    color: grey;
    text-decoration: none;
}


/* playbar settings */
.playbar {
    width: 100%;
    height: 100%;
}

.playbar a i li:hover {
    color: var(--color-light);
    transform: scale(1.2);
}

/* playbar left settings */

.playbar-left {
    flex: 0 0 auto;
    width: 20%;
    display: flex;
    margin: 10px 10px;
}

.playbar-left p {
    font-size: 12px;
    margin-left: 10px;
}

.album-cover {
    width: 20%;
    transition: 0.8s ease;
    padding: 5px;
}

.album-cover img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.track-name {
    font-weight: 600;
    color: var(--color-light);
}

.track-name:hover {
    text-decoration: underline;
}

.artist-name:hover {
    text-decoration: underline;
}

.album-cover:hover {
    transform: scale(1.5);
}

.preferences a i:hover {
    color: var(--color-light);
}

/* playbar center settings */

.playbar-center {
    flex: 0 0 auto;
    width: 55%;
    display: flex;
    margin: 10px 0px;
}

.control-btn {
    background-color: transparent;
    color: var(--color-light);
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.control-btn i:hover {
    color: var(--color-light);
    transform: scale(1.2);
}


.progress-bar {
    display: flex;
    align-items: center;
    width: 40%;
}

.current-time,
.duration {
    font-size: 12px;
    color: var(--color-lightgrey);
    margin: 0 10px;
}

input[type="range"] {
    accent-color: var(--color-lightgrey);
    height: 4px;
    flex-grow: 1;
    background: var(--color-lightgrey);
}

input[type="range"]::-webkit-slider-thumb {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: var(--color-highlight);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
    opacity: 1;
}

input[type="range"]:hover {
    accent-color: var(--color-highlight);
}

/* playbar-right settings */

.playbar-right {
    flex: 0 0 auto;
    width: 20%;
    display: flex;
    margin: 10px 10px;
}

.menu-list {
    height: 100%;
    font-size: 13px;
}

.volume-slider {
    width: 70%;
    vertical-align: middle;

}

li i {
    vertical-align: middle;
}

li i:hover {
    color: var(--color-light);
    transform: scale(1.2);
    cursor: pointer;
}

/**** media queries ****/

@media screen and (max-width: 1200px) {
    .main-content .col {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 992px) {
    .main-content .col {
        width: calc(100% / 3);
    }

    .progress-bar {
        width: auto;
    }

    .playbar-center {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .main-content .col {
        width: calc(100% / 2);
    }


    ul li a {
        padding: 0px 10px;
        font-size: 10px;
    }

    .preferences {
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0;
        margin: 0;

    }


}

@media screen and (max-width: 576px) {
    #sidebar {
        flex: 0 0 50px;
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card-image {
        width: 90%;

    }

    header {
        left: 50px;
        width: calc(100% - 50px);
    }

    .main-content .col {
        width: calc(100% / 1);
    }

    h2,
    section>small {
        text-align: center;
    }

    ul li a {
        padding: 0 6px;
        font-size: 10px;
    }

    .logo-spotify {
        display: none;
    }

    .only-mobile {
        display: block;
        transition: transform 0.5s ease;
    }

    .only-mobile:hover {
        transform: scale(1.1);
    }

    .only-mobile img {
        width: 60%;
        max-width: 100%;
        margin: 8px 8px;
    }

    .only-desktop {
        display: none;
    }

    #sidebar ul {
        padding: 0px 1px;
    }

    #sidebar i {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .sidebar-bottom img {
        height: 20px;
    }

    .sidebar-bottom a {
        margin-left: 0px;
    }

    .menu-list {
        width: 10%;
    }

    footer i {
        margin: 2px;
    }
}